<%= stylesheet_link_tag    'new', media: 'all', 'data-turbolinks-track': 'reload' %>


<div class="new">
  <h2>Create New Account</h2>
  <%= form_for @user do |f| %>
  <div class="first-name">
    <%= f.label :first_name  %>
    <%= f.text_field :first_name %>
  </div>
  <div class="last-name">
    <%= f.label :last_name  %>
    <%= f.text_field :last_name %>
  </div>
  <div class="email">
    <%= f.label :email  %>
    <%= f.text_field :email %>
  </div>
  <div class="password">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <%= f.submit "Create Account", :class => 'submit' %>

  <% end %>

</div>
